#static_page {
    font-size: 15px;
    padding-bottom: 50px;
}
.about_page{
	padding: 10px;
	margin: 40px 120px 0px 120px;
}
#static_page .title {
    text-align: center;
    text-transform: uppercase;
    display: block;
    font-size: 26px;
    padding-bottom: 20px;
}
#static_page p {
    padding-top: 15px;
}

@media (max-width: 480px) {
    .about_page{
        margin: 0 !important;;
    }
}