.changepassword-section{
	background: #f3f3f6;
}
.changepassword-section .parent{
  position: relative;
}
.changepassword-section .parent .left{
	background: #fff;
	/*margin-top: 4px;*/
	margin-bottom: 4px;
  padding-bottom: 50px;
}
.changepassword-section .parent .left .box-content{
  overflow: hidden;
}
.changepassword-section .parent .left a:hover{
  font-family: Gotham Rounded;
  font-size: 16px;
  text-align: left;
  color: #ff4545;
}
.changepassword-section .parent .right .wrap_gift{
  padding-left: 15px;
  padding-bottom: 50px;
}
.changepassword-section .parent .right .box_top{
  padding-top: 30px;
  padding-bottom: 30px;
}
.changepassword-section .parent .right .box_top:after{
  clear: both;
  content: '';
  display: block;
}
.changepassword-section .parent .right .box_top h2{
  font-family: Gotham Rounded;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.33;
  text-align: left;
  color: #303030;
}
.changepassword-section .parent .right .box_top h2:after{
  content: '';
  display: block;
  clear: both;
}
.changepassword-section .parent .right .box_top .total_password{
  float: left;
  font-family: Gotham Rounded;
  font-size: 16px;
  text-align: left;
  color: #636363;
  margin-bottom: 0;
  padding-top: 20px;
}
.changepassword-section .left-fixed-wrap{
  content: '';
  position: absolute;
  background: #fff;
  display: inline-block;
  border-bottom: 0;
  height: 100%;
  top: 0px;
  right: 100%;
  width: 100px;
  border-bottom: 4px solid #e3e3e3;
  /*border-top: 4px solid #e3e3e3;*/
  clear: none;
}
.parent {
    display: flex;
    flex-wrap: wrap;
}
/*//box-content last child*/



/*// end box-content last child*/
.child {
    flex-grow: 1;
    /*flex-basis: 50%;*/
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  
  font-family: Gotham Rounded;
  font-size: 16px;
  /*    line-height: 1.5;*/
  text-align: left;
  color: #636363;
  font-weight: normal;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #2f88ff;
  position: absolute;
  top: 5px;
  left: 2px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}



[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  
  font-family: Gotham Rounded;
  font-size: 15px;
  /*    line-height: 1.5;*/
  text-align: left;
  color: #636363;
  font-weight: normal;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  
}
[type="checkbox"]:checked + label:before{
  background: #2f88ff;
  border: 1px solid #2f88ff;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: '\e91f';
  font-family: 'icomoon' !important;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/*//box_item_right*/
.box_content .box_item{
  padding: 18px 30px 15px;
  background-color: #fff;
  border-radius: 16px;
  border: solid 1px #e3e3e3;
}




.form-group.form-md-floating-label .form-control {
  background: none;
  border: 0;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #000000;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  border-radius: 12px;
  padding: 13px 15px;
  min-height: 52px;
}
.box_item h4 {
  margin-bottom: 20px;
}
.box_item .title{
  text-transform: uppercase;
  font-family: Gotham Rounded;
  font-size: 12px;
  text-align: left;
  color: #636363;
}
.box_item .form-group.form-md-floating-label {
  position: relative;
  /*margin: 0 0 35px 0;*/
}
.box_item .form-group.form-md-floating-label .form-control ~ label {
  font-size: 14px;
  top: 50%;
  transform:translateY(-50%);
  transition: 0.2s ease all;
  color: #000000;
  font-weight: normal;
  font-family: Gotham Rounded;
  /*width: 100%;*/
  position: absolute;
  left: 15px;
  bottom: 0;
  pointer-events: none;
}
.box_item .form-group.form-md-floating-label textarea.form-control ~ label{
  top:15px;
  transform:inherit;
}
.box_item .form-group.form-md-floating-label .form-control {
  background: none;
  border: 0;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #000000;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  border-radius: 12px;
  padding:13px 15px;
  min-height: 52px;
}

.box_item .form-group.form-md-floating-label .form-control:focus,
.box_item .form-group.form-md-floating-label .form-control.edited{
  padding-top: 16px;
  padding-bottom: 10px;
}
.box_item .form-group.form-md-floating-label .form-control.edited ~ label, 
.box_item .form-group.form-md-floating-label .form-control:focus ~ label{
  top: 5px;
  transform: inherit;
  font-family: Gotham Rounded;
  font-size: 12px;
  text-align: left;
  color: #999999;
}

.wrap_gift .box_change{
  text-align: right;
}
.wrap_gift .box_change .change-btn,.change-btn:hover,.change-btn:focus,.change-btn:active{
  display: inline-block;
  background: #ff5f5f;
  border-radius: 12px;
  background-color: #ff5f5f !important;
  height: 46px;
  line-height: 46px !important;
  font-family: Gotham Rounded;
  font-size: 16px !important;
  font-weight: 500 !important;
  text-align: center;
  color: #ffffff !important;
  margin-top: 30px;
  min-width: 110px;
  padding:0 !important;
  border: 0;
  cursor: pointer;
}


/*/end box_mid*/

.left .box-content h3{
	margin-bottom: 30px;
	font-family: Gotham Rounded;
	font-size: 20px;
	font-weight: 500;
	text-align: left;
	color: #303030;
}
.left .box-content p{
	font-family: Gotham Rounded;
	font-size: 16px;
	text-align: left;
	color: #636363;
}
.gift_item{
  padding: 10px 30px 15px;
  border-radius: 16px;
  background-color: #ffffff;
  border: solid 1px #e3e3e3;
  overflow: hidden;
  position: relative;
  min-height: 170px;
  margin-bottom: 30px;
}
.gift_item .gift_img{
  width: 120px;
  float: left;
  position: absolute;
  left: 30px;
  top: 50%;
  transform:translateY(-50%);
  opacity: 0.5;
}
.gift_item.active .gift_img{
  opacity: 1;
}
.gift_item .gift_img img{
  width: 100%;
}
.gift_item .gift_info{
  display: block;
  padding-left: 150px;
}
.gift_item .gift_info .product_name{
  display: block;
  clear: both;
  overflow: hidden;
}
.gift_item .gift_info .product_name h3{
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #303030;
  float: left;
}
.gift_item .gift_info .product_name p.redeemed_location{
  float: right;
  text-align: right;
  font-family: Gotham Rounded;
  font-size: 14px;
  text-align: right;
  color: #636363;
  margin-bottom: 0;
  padding-top: 5px;
}
.gift_item .gift_info .content{
  display: block;
  overflow: hidden;
}
.gift_item .gift_info .content p{
  width: 25%;
  float: left;
  font-family: Gotham Rounded;
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  color: #171717;
}
.gift_item .gift_info .content p label{
  font-family: Gotham Rounded;
  font-size: 12px;
  text-align: left;
  color: #636363;
  text-transform: uppercase;
  font-weight: normal;
  display: block;
  clear: both;
}
.gift_item:hover{
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.gift_item:hover .gift_info .list_guide_link{
  display: block;
}
.gift_item .gift_info .list_guide_link{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 0;
  overflow: hidden;
  display: none;
}
.gift_item .gift_info .list_guide_link li a,.gift_item .gift_info .list_guide_link li a:hover{
  font-family: Gotham Rounded;
  font-size: 14px;
  text-align: left;
  color: #ff4545;
  float: left;
  padding-right: 30px;
}
.gift_item .gift_info .content p.status{
  font-size: 0;
}
.gift_item .gift_info .content p.status span{
  font-family: Gotham Rounded;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  /*color: #51cc1e;*/
  border: 1px solid #000;
  border-radius: 6px;
  padding: 0px 10px; 
  line-height: 16px;
  height: 20px;
  display: inline-block;
}
.gift_item.active .gift_info .content p.status span{
  background: #e2ffdb;
  border-color: #52cc1e;
  color: #52cc1e;
}
.gift_item.used .gift_info .content p.status span{
  background: #ffdede;
  border-color: #ff2c2c;
  color: #ff2c2c;
}
.gift_item.expired .gift_info .content p.status span{
  background: #fff1c5;
  border-color: #d2b600;
  color: #d2b600;
}
.gift_item .show_voucher{
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  width: 24px;
  height: 24px;
  right: 30px;
  /*border: 1px solid;*/
}
.gift_item .show_voucher:before{
  content: "\e907";          
  font-family: 'icomoon' !important;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 22px;
  line-height: 22px;
  color: #636363;
}
.gift_item:hover .show_voucher:before{
  color: #ff4545;
}
.load_more_btn,.load_more_btn:hover,.load_more_btn:active,.load_more_btn:focus{
  width: 166px;
  height: 46px;
  line-height: 46px;
  border-radius: 12px;
  background-color: #ff5f5f;
  display: block;
  text-align: center;
  font-family: Gotham Rounded;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}
.filter_mobile{
  display: none;
}
.error-msg{
  color: #ff4545;
} 
/*sstyle select*/
@media (max-width: 480px) {
  .changepassword-section .parent .left{
    display: none;
  }

.box_top h2 {
  margin-bottom: -10px ;
}
.box_item h4{
  text-align: center;
}
.box_change .change-btn{
  width: 100%;
}

  .changepassword-section .parent .right .wrap_gift{
    padding-left: 0;
    padding-bottom: 30px;
  }
  .changepassword-section .parent .right .box_top h2{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .changepassword-section .parent .right .box_top .total_password{
    text-align: center;
  }
  
  .filter_mobile{
    display: block;
    clear: both;
    border:1px solid;
    border-radius: 12px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    background:#fff;
    font-size: 0;
  }
  .filter_mobile .group_filter{
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e3e3e3;
    top: 100%;
    margin-top: 5px;
    padding: 15px;
    background:#fff;
    border-radius: 8px;
    border: solid 1px #e3e3e3;
  }
  .filter_mobile .group_filter h3{
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    color: #636363;
    text-transform: uppercase;
  }
  .filter_mobile .group_filter label{
    font-size: 16px;
    color: #303030;
  }
  .filter_mobile.active .group_filter {
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
  }
  .filter_mobile p.title{
    display: block;
    clear: both;
    font-size: 12px;
    color: #999999;
    clear: both;
    display: block;
    font-weight: normal;
    margin-bottom: 5px;
  }
  .filter_mobile p.title:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4a4a4a transparent;
  }
  .filter_mobile span{
    border-radius: 6px;
    height: 30px;
    background-color: #eef1f8;
    font-family: Gotham Rounded;
    font-size: 12px;
    line-height: 30px;
    text-align: left;
    color: #000000;
    display: inline-block;
    padding: 0 20px 0 5px;
    margin-right: 10px;
    position: relative;
  }
  .filter_mobile span:after{
    content: '\e901';
    display: inline-block;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    right: 5px;
    font-size: 7px;
    font-family: 'icomoon' !important;
    line-height: 1;
  }
}