.managegift-section{
	background: #f3f3f6;
}
.managegift-section .parent{
  position: relative;
}
.managegift-section .parent .left{
	background: #fff;
	/*margin-top: 4px;*/
	margin-bottom: 4px;
}
.managegift-section .parent .left .box-content{
  overflow: hidden;
}
.managegift-section .parent .left a:hover{
  font-family: Gotham Rounded;
  font-size: 16px;
  text-align: left;
  color: #ff4545;
}
.managegift-section .parent .right .wrap_gift{
  padding-left: 15px;
  padding-bottom: 50px;
}
.managegift-section .parent .right .box_top{
  padding-top: 30px;
  padding-bottom: 30px;
}
.managegift-section .parent .right .box_top .title:after{
  content:'';
  display: block;
  clear: both;
}
.managegift-section .parent .right .box_top h2{
  font-family: Gotham Rounded;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.33;
  text-align: left;
  color: #303030;
  float: left;
}
.managegift-section .parent .right .box_top .total_voucher{
  float: right;
  font-family: Gotham Rounded;
  font-size: 16px;
  text-align: right;
  color: #636363;
  margin-bottom: 0;
  padding-top: 20px;
}
.managegift-section .left-fixed-wrap{
  content: '';
  position: absolute;
  background: #fff;
  display: inline-block;
  border-bottom: 0;
  height: 100%;
  top: 0px;
  right: 100%;
  width: 100px;
  border-bottom: 4px solid #e3e3e3;
  /*border-top: 4px solid #e3e3e3;*/
  clear: none;
}
.parent {
    display: flex;
    flex-wrap: wrap;
}

.child {
    flex-grow: 1;
    /*flex-basis: 50%;*/
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  
  font-family: Gotham Rounded;
  font-size: 16px;
  /*    line-height: 1.5;*/
  text-align: left;
  color: #636363;
  font-weight: normal;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #ff4545;
  position: absolute;
  top: 5px;
  left: 2px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}



[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  
  font-family: Gotham Rounded;
  font-size: 15px;
  /*    line-height: 1.5;*/
  text-align: left;
  color: #636363;
  font-weight: normal;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  
}
[type="checkbox"]:checked + label:before{
  background: #ff4545;
  border: 1px solid #ff4545;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: '\e91f';
  font-family: 'icomoon' !important;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 1px;
  left: 0px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 16px;
  height: 16px;
  font-size: 16px;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.left .box-content h3{
	margin-bottom: 30px;
	font-family: Gotham Rounded;
	font-size: 20px;
	font-weight: 500;
	text-align: left;
	color: #303030;
}
.left .box-content p{
	font-family: Gotham Rounded;
	font-size: 16px;
	text-align: left;
	color: #636363;
}
.gift_list{
  
}
.gift_item{
  padding: 15px 15px 15px 30px;
  border-radius: 16px;
  background-color: #ffffff;
  border: solid 1px #e3e3e3;
  overflow: hidden;
  position: relative;
  min-height: 160px;
  margin-bottom: 30px;
}
.gift_item .gift_img{
  width: 120px;
  float: left;
  position: absolute;
  left: 30px;
  top: 50%;
  transform:translateY(-50%);
  opacity: 0.5;
  border-radius: 6px;
  border:1px solid #e3e3e3;
}
.gift_item.status_3 .gift_img{
  opacity: 1;
}
.gift_item .gift_img img{
  width: 100%;
}
.gift_item .gift_info{
  display: block;
  padding-left: 150px;
}
.gift_item .gift_info .product_name{
  display: block;
  clear: both;
  overflow: hidden;
}
.gift_item .gift_info .product_name h3{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #303030;
  float: left;
}
.gift_item .gift_info .product_name h3 span{
  font-family: Gotham Rounded;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  border-radius: 6px;
  background-color: #ff5f5f;
  line-height: 20px;
  height: 20px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  bottom: 5px;
}
.gift_item .gift_info .product_name p.redeemed_location{
  float: right;
  text-align: right;
  font-family: Gotham Rounded;
  font-size: 14px;
  text-align: right;
  color: #636363;
  margin-bottom: 0;
  padding-top: 5px;
}
.gift_item .gift_info .content{
  display: block;
  /*overflow: hidden;*/

}
.gift_item .gift_info .content p{
  width: 35%;
  float: left;
  font-family: Gotham Rounded;
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  color: #171717;
  margin-bottom: 0px !important;
}
.gift_item .gift_info .content p.status{
  width: 33%;
  font-size: 0;
}
.gift_item .gift_info .content p.received_date b{
  font-weight: 500;
  white-space: nowrap;
}

.gift_item .gift_info .content p label{
  font-family: Gotham Rounded;
  font-size: 16px;
  text-align: left;
  color: #636363;
  /*text-transform: uppercase;*/
  font-weight: normal;
  display: block;
  clear: both;
}
.gift_item:hover{
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.gift_item:hover .gift_info .list_guide_link{
  display: block;
}
.gift_item .gift_info .list_guide_link{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 0;
  overflow: hidden;
  display: none;
}
.gift_item .gift_info .list_guide_link li a,.gift_item .gift_info .list_guide_link li a:hover{
  font-family: Gotham Rounded;
  font-size: 14px;
  text-align: left;
  color: #ff4545;
  float: left;
  padding-right: 30px;
}
.gift_item .gift_info .content p.status label{
  padding-top: 1px;
}

.gift_item .gift_info .content p.status span{
  font-family: Gotham Rounded;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  /*color: #51cc1e;*/
  border: 1px solid #000;
  border-radius: 6px;
  padding: 0px 10px; 
  line-height: 16px;
  height: 20px;
  display: inline-block;
  min-width: 60px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.gift_item.status_3 .gift_info .content p.status span{
  background: #e2ffdb;
  border-color: #52cc1e;
  color: #52cc1e;
}
.gift_item.status_4 .gift_info .content p.status span{
  background: #ffdede;
  border-color: #ff2c2c;
  color: #ff2c2c;
}
.gift_item.status_8 .gift_info .content p.status span{
  background: #fff1c5;
  border-color: #d2b600;
  color: #d2b600;
}
.gift_item .gift_info .content p.expiry_date{
  /*margin-top: -20px;*/
  width: 32%;
  z-index: 11;
  position: relative;
}
.gift_item .gift_info .content p.expiry_date img{
    position: relative;
    top: -2px;
    width: 24px;
    height: 24px;
    /*  -o-object-fit: contain;*/
    object-fit: contain;
    padding-right: 5px;
}
.gift_item .gift_info .content p.expiry_date label{
  font-size: 16px;
  color: #4080FF;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
.gift_item .gift_info .content p.expiry_date label a{
   color: #4080FF;
}
.gift_item .gift_info .content p.expiry_date label:hover a{
   color: #4080FF;
  text-decoration: underline;
}
.gift_item .show_voucher{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
/*.gift_item .show_voucher:before{
  content: "\e907";          
  font-family: 'icomoon' !important;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 22px;
  line-height: 22px;
  color: #636363;
}
.gift_item:hover .show_voucher:before{
  color: #ff4545;
}*/
.load_more_btn,.load_more_btn:hover,.load_more_btn:active,.load_more_btn:focus{
  width: 166px;
  height: 46px;
  line-height: 46px;
  border-radius: 12px;
  background-color: #ff5f5f;
  display: block;
  text-align: center;
  font-family: Gotham Rounded;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}
.filter_mobile{
  display: none;
}
.filter_box{
  padding: 0;
  /*padding: 20px 30px 10px;*/
  border-radius: 16px;
  background-color: #ffffff;
  border: solid 1px #e3e3e3;
  position: relative;
  margin-top: 30px;
  display: block;
  clear: both;
}
.filter_box:after{
  content: '';
  clear: both;
  display: block;
}
.filter_box .filter_left,.filter_box .filter_right{
  float: left;
  display: inline-block;
  font-size: 0;
  position: relative;
  padding: 10px 25px 10px;
}
.filter_box .filter_left{
  width: 60%;
  float: left;
  margin-top: 7px
}
.filter_box .filter_right{
  width: 40%;
  float:right;
}
/*.filter_box  .filter_left::after {
  content : "";
  position: absolute;
  height: 32px;
  width: 1px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: inline-block;
  background-color: #dfe0e3;
}*/
.filter_box .filter_left label,.filter_box .filter_right label{
  font-family: Gotham Rounded;
  font-size: 12px;
  text-align: left;
  color: #636363;
  font-weight: normal;
  text-transform: uppercase;
  margin-right: 25px;
  margin-bottom: 0px !important;
}
.filter_box .filter_left p,.filter_box .filter_right p{
  display: inline-block;
  margin-bottom: 0px !important;
}
.filter_box .filter_left p label,.filter_box .filter_right p label{
  margin-right: 20px;
  font-size: 15px;
  text-transform: capitalize;

}
.filter_box .filter_left p:last-child label,.filter_box .filter_right p:last-child label{
  margin-right: 0px;
}
.title_mb, .filter_selected_mb{
  display: none;
}
#where_to_use_modal .modal-dialog .modal-content{
  /*height: 500px*/
}
iframe{
  border: 0;
}

.filter_right_selectbox{
  position: relative;
  width: 200px;
  margin: 0 auto;
  padding: 5px 10px 7px;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #e3e3e3;
/*  box-shadow: 0 1px 1px rgba(50,50,50,0.1);*/
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color: #4a4a4a;
  /*margin-bottom: 10px;*/
  display: inline-block;
  font-size: 15px;
}
.filter_right_selectbox:after {
content: "";
width: 0;
height: 0;
position: absolute;
right: 15px;
top: 50%;
margin-top: -3px;
border-width: 6px 6px 0 6px;
border-style: solid;
border-color: #4a4a4a transparent;
}
.filter_right_selectbox .dropdown_selected{
position: absolute;
top: 100%;
margin-top: 10px;
left: 0;
right: 0;
background: white;
border-radius: inherit;
border: 1px solid rgba(0,0,0,0.17);
box-shadow: 0 0 5px rgba(0,0,0,0.1);
font-weight: normal;
/* transition: all 0.3s ease-in; */
list-style: none;
padding: 0;
opacity: 0;
/* pointer-events: none; */
z-index: -1;
max-height: 220px;
overflow-y: auto;
padding: 10px;
}
.filter_right_selectbox span{
font-size: 14px;
font-weight: normal;
color: #636363;
}
.filter_right_selectbox.active .dropdown_selected{
opacity: 1;
z-index: 12;
pointer-events: auto;
}
.filter_right_selectbox .dropdown_selected p{
width: 100%;
margin-bottom: 10px !important;
}
/*sstyle select*/
@media (max-width: 480px) {
  .filter_right_selectbox{
    border: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    width: 100% !important;
  }
  .filter_right_selectbox:after{
    display: none;
  }
  .filter_right_selectbox span{
    display: none;
  }
  .filter_right_selectbox .dropdown_selected{
    position: relative !important;
    border: 0 !important;
    opacity: 1 !important;
    padding: 0 !important;
    box-shadow: none !important;
    z-index: 11 !important;
    margin: 0 !important
  }
  .title_mb, .filter_selected_mb{
    display: block;
  }
  p.title_mb{
    font-size: 12px;
    color: #999999;
    clear: both;
    display: block;
    font-weight: normal;
    margin-bottom: 5px;
  }
  p.title_mb:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4a4a4a transparent;
  }

  .filter_selected_mb span{
    border-radius: 6px;
    height: 30px;
    background-color: #eef1f8;
    font-family: Gotham Rounded;
    font-size: 12px;
    line-height: 30px;
    text-align: left;
    color: #000000;
    display: inline-block;
    padding: 0 20px 0 5px;
    margin-right: 10px;
    position: relative;
    margin-bottom: 5px;
    text-transform: capitalize;
}

  .filter_selected_mb span:after {
    content: '\E901';
    display: inline-block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
    font-size: 7px;
    font-family: 'icomoon' !important;
    line-height: 1;
}
.filter_selected_mb span.sortby:after{
  display: none;
}
.filter_box{
    display: block;
    clear: both;
    border: 1px solid;
    border-radius: 12px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    background: #fff;
    font-size: 0;
}
  .filter_box .filter_left,.filter_box .filter_right{
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .filter_box .filter_left label.filter_title,.filter_box .filter_right label.filter_title{
    margin-bottom: 10px !important;
  }
  .filter_box .filter_left p,.filter_box .filter_right p{
    display: block;
    margin-bottom: 10px !important;
  }
  .filter_group{
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e3e3e3;
    top: 100%;
    margin-top: 5px;
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    border: solid 1px #e3e3e3;
  }
  .filter_box.active .filter_group{
      opacity: 1;
      z-index: 11;
      pointer-events: auto;
  }

  .managegift-section .parent .left{
    display: none;
  }
  .managegift-section .parent .right .wrap_gift{
    padding-left: 0;
    padding-bottom: 30px;
  }
  .managegift-section .parent .right .box_top h2{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .managegift-section .parent .right .box_top .total_voucher{
    display: none;
  }
  .gift_item{
    padding: 10px 0 0px 0px;
    position: relative;
    margin-bottom: 10px;
    min-height: 0;
  }
  .gift_item .gift_img{
    width: 65px;
    height: 65px;
    left: 10px;
    position: absolute;
  }
  .gift_item .gift_info{
    padding-left: 85px;
  }
  .gift_item .gift_info .product_name{
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .gift_item .gift_info .product_name h3{
    font-size: 14px;
    font-weight: 500;
    margin-top: -5px;
    margin-bottom: 0px;
  }
  .gift_item .gift_info .product_name h3 span{
    bottom: 1px;
    font-size: 10px;
    color: #ff5f5f;
    border:1px solid #ff5f5f;
    background: #fff;
    height: 16px;
    line-height: 14px;
    border-radius: 4px;
    font-weight: 500;
    padding: 0 5px;
  }
  .gift_item .gift_info .product_name p.redeemed_location{
    display: none;
  }
  .gift_item .gift_info .content{

  }

  .gift_item .gift_info .content p{
    width: 65%;
    margin-bottom: 12px;
    font-size: 12px;
    margin-bottom: 10px !important;
  }
  .gift_item .gift_info .content p label{
     font-size: 12px;
     margin-bottom: 0px;
    /*text-align: center;*/
  }
  .gift_item .gift_info .content p.status label{
    font-size: 10px;
    text-align: center;
    padding-top: 3px;
  }

  .gift_item .gift_info .content p.status{
    width: 35%;
    padding-right: 10px;
    margin-top: -6px;
  }
  .gift_item .gift_info .content p.status span{
  /*  max-width: 64px;*/
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 0 5px;
  }

  .gift_item .gift_info .content p.expiry_date{
    display: none;
  }
  .gift_item .show_voucher{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    transform:inherit;
  }
  .gift_item .show_voucher:before  {
    display: none;
  }
  .load_more_btn, .load_more_btn:hover, .load_more_btn:active, .load_more_btn:focus{
    width: 100%;
    margin-top: 20px;
  }
  .filter_mobile{
    display: block;
    clear: both;
    border:1px solid;
    border-radius: 12px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    background:#fff;
    font-size: 0;
  }
  .filter_mobile .group_filter{
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e3e3e3;
    top: 100%;
    margin-top: 5px;
    padding: 15px;
    background:#fff;
    border-radius: 8px;
    border: solid 1px #e3e3e3;
  }
  .filter_mobile .group_filter h3{
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    color: #636363;
    text-transform: uppercase;
  }
  .filter_mobile .group_filter label{
    font-size: 16px;
    color: #303030;
  }
  .filter_mobile.active .group_filter {
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
  }
  .filter_mobile p.title{
    display: block;
    clear: both;
    font-size: 12px;
    color: #999999;
    clear: both;
    display: block;
    font-weight: normal;
    margin-bottom: 5px;
  }
  .filter_mobile p.title:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4a4a4a transparent;
  }
  .filter_mobile span{
    border-radius: 6px;
    height: 30px;
    background-color: #eef1f8;
    font-family: Gotham Rounded;
    font-size: 12px;
    line-height: 30px;
    text-align: left;
    color: #000000;
    display: inline-block;
    padding: 0 20px 0 5px;
    margin-right: 10px;
    position: relative;
  }
  .filter_mobile span:after{
    content: '\e901';
    display: inline-block;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    right: 5px;
    font-size: 7px;
    font-family: 'icomoon' !important;
    line-height: 1;
  }

  .managegift-section .parent .right .box_top {
    padding-top: 30px;
    padding-bottom: 15px;
}
}

@media (max-width: 375px){
  .gift_item .gift_info .content p.status span{
    padding: 0px;
    font-size: 10px;
  }

}