.brand-info{
  border-radius: 16px;
  background-color: #ffffff;
  border: solid 1px #e3e3e3;
  overflow: hidden;
  padding: 10px 5px 10px 15px;
}
.brand_productpage .tabbable-line  .nav-tabs > li{
  margin-right: 0;
}
.brand_productpage .tabbable-line  .nav-tabs > li a{
  padding: 10px;
}
.brand_productpage .box-content .list_brand:after{
	content: '';
	display: block;
	clear: both;
}
.brand_productpage .box-content .list_brand a.brand_img {
  margin-right: 45px;
}
.brand_productpage .box-content .list_brand a.brand_img:last-of-type{
  margin-right: 0;
}
.show-more{
	/*border-top: 1px dashed #e3e3e3;*/
	clear: both;
	display: block;
	position: relative;
	padding: 20px 0 10px;
	text-align: center !important;
	margin: 0;
}
/*.show-more:after,.show-more:before {
    width: 50px;
    content: '';
    position: absolute;
    height: 1px;
    background: #fff;
    display: inline-block;
    left: 0;
    top: -1px;
}
.show-more:after{
	left: inherit;
	right: 0;
	width: 80px;
}*/
.btn-show-more,.btn-show-more:active,.btn-show-more:focus,.btn-show-more:hover{
	height: 30px;
	line-height: 28px;
	/*min-width: 130px;*/
	display: inline-block;
	font-size: 16px;
	color: #ff5f5f;
	background: none;
	box-shadow: none;
	outline: 0;
	margin: 10px auto;
	padding: 0;
	border-radius: 8px;
	vertical-align: middle;
	padding-bottom: 2px;
	padding-right: 30px;
	position: relative;
}
.btn-show-more:before{
	content: '\e90e';
    font-family: icomoon!important;
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 2px;
    font-size: 14px;
}
