body,html{
	min-width: 1170px;
}
.container-fluid{
	min-width: 1170px;
}
.container{
	width: 1170px;
	max-width: none !important;
}
section{
	min-width: 1170px;
}
.col-md-6{
	width: 50%;
	float: left;
}
.col-md-9 {
    width: 75%;
    float: left;
}
.col-md-3{
	width: 25%;
	float: left;
}
.col-md-4 {
    width: 33.33333333%;
    float: left;
}
.col-md-8{
	width: 66.66666667%;
	float: left;
}
.col-md-offset-2{
	margin-left: 16.66666667%;
}
.col-md-offset-3{
	margin-left: 25%;
}
.navbar-right{
	/*margin-right: 0;*/
}
/* Always float the navbar header */
/*.navbar-header {
  float: left;
}
*/
.navbar-header{
	float: left;
	margin-left: 0px !important;
	margin-right: 0 !important;
}
/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important;
  padding: 0;
}

.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  background: #fff;
  left: initial;
  right: 0;
}
.col-md-push-4 {
    left: 33.33333333%;
}
.col-md-pull-4 {
    right: 33.33333333%;
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1200px) {
	.container{
		width: 1170px;
	}
}


@media(max-width: 1170px){


}
@media(max-width: 767px){
	.col-md-push-4 {
	    left: 33.33333333%;
	}
	.col-md-pull-4 {
	    right: 33.33333333%;
	}

}
@media(max-width: 480px){
	body, html,section,.container,.container-fluid{
		width:100%;
		min-width: 0;
	}
	[class*="col-"]{
		width: 100%;
	}

	.col-md-push-4 {
	    left: inherit;
	}
	.col-md-pull-4 {
	    right: inherit;
	}
}