#static_page {
    /* overflow: hidden; */
/*    padding-top: 100px;*/
    font-size: 15px;
    padding-bottom: 50px;
}
#static_page b {
    font-weight: bold;
}
#static_page p {
    padding-top: 15px;
}
#static_page ul li {
    list-style: disc inside;
    padding-left: 20px;
    padding-top: 10px;
}
.about_page ol {
    counter-reset: item;
}
.about_page ol li:before {
    content: counters(item, ".") ".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px;
}
.about_page ol li {
    list-style-type: upper-roman;
    position: relative;
    padding-bottom: 10px;
    display: block;
}
.about_page p.about_page_space{
    display: none;
}

@media (max-width: 480px) {
    .about_page{
        margin: 0 !important;;
    }
    .about_page ol {
        margin-left: 40px;
    }
    .about_page p.about_page_space{
        display: block;
    }

}