#static_page {
    font-size: 15px;
    padding-bottom: 50px;
}
#static_page .title {
    text-align: center;
    text-transform: uppercase;
    display: block;
    font-size: 26px;
    padding-bottom: 20px;
}
#static_page p {
    padding-top: 15px;
}
#static_page ul li {
    list-style: disc inside;
    padding-left: 20px;
    padding-top: 10px;
}
@media (max-width: 480px) {
    .policy_page{
        margin: 0 !important;;
    }
}