.product-section{
  background: #f3f3f6;
}

.product-section .left,.product-section .right{
  padding-top: 35px;
  padding-bottom: 30px;
}
.product-section .right{
  /*border-top:1px solid #e3e3e3;*/
  background: #fff;
  /*margin-top: 1px;*/
  margin-bottom: 4px;
}
.product-info{
  border-radius: 16px;
  background-color: #ffffff;
  border: solid 1px #e3e3e3;
  padding: 15px 30px 30px;
  overflow: hidden;
}
.product-info .show-img{
  width: 45%;
  float: left;
}
.product-info .product_name{
  position: relative;
  margin-bottom: 30px;
}
.product-info .product_name:after{
  clear: both;
  content: '';
  display: block;
}
.product-info .product_name h3{
  font-family: Gotham Rounded;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #303030;
  margin-top: 0;
  margin-bottom: 30px;
  margin: 0;
  width: 45%;
  float: left;

}
.product-info .product_name p{
  font-family: Gotham Rounded;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
  margin: 0;
  width: 55%;
  padding-left: 20px;
  float: left;
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 10px;
}
.product-info .show-img .main-img{
  border-radius: 12px;
  border: solid 1px #e3e3e3;
  max-width: 350px;
  position: relative;
}
.product-info .show-img .main-img img{
  width: 100% !important;
}
.product-info .show-img .main-img .price_pr{
    position: absolute;
    top: 50%;
    right: 45px;
    margin-top: 50px;
    color: #fff;
    font-family: Gotham Rounded;
}
.list-thumb{
  width: 100%;
  display: block;
  overflow: hidden;
  border-radius: 12px;
  background-color: #ffffff;
  border: solid 1px #e3e3e3;
  text-align: center;
}

.list-thumb span{
  width: 70px;
  height: 70px;
  /*background: #e0e0e0;*/
  display: inline-block;
  margin-right: 10px;
}
.list-thumb span:last-of-type{
  margin-right: 0;
}
.list-thumb span img{
  width: 100%;
}
.list-thumb span img:hover{
  cursor: pointer;
}
.product-info .show-img{
  position: relative;
}
/*.wrap_img_detail{
    max-width: 460px;
    position: relative;
}
*/
.amount_product {
  border: 1px solid #a8c6df;
  border-radius: 4px;
  font-size: 0px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0;
  clear: both;
}
em {
  color: #303030;
  cursor: pointer;
  padding: 3px 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}
input {
  border: 0;
  border-left: 1px solid #a8c6df;
  border-right: 1px solid #a8c6df;
  font-family: Gotham Rounded;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.46;
  text-align: center;
  color: #294661;
  width: 66px;
  background: none;
  outline: none;
  height: 30px;
  line-height: 30px;
}
.product-detail{
  width: 55%;
  padding-left: 20px;
  float: left;
}
.product-detail h3{
  margin-top: 0;
  font-family: Gotham Rounded;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #666666;
}
.product-detail p.intro{
  margin-bottom: 20px;
}
.product-detail .text-label{
  text-transform: uppercase;
  font-family: Gotham Rounded;
  font-size: 12px;
  text-align: left;
  color: #636363;
  margin-bottom: 15px;
}
.choose-quantity .select-quantity{
  width: 135px;
}
.choose-quantity .select-quantity .form-control{
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 30px;
  border-color: #e3e3e3;
  box-shadow: none;
  color: #000000;
  font-size: 14px;
  text-align: center;
  width: 65px;
  border: 1px solid #e3e3e3;
}
.choose-quantity .select-quantity .btn-default{
  height: 30px;
  width: 36px;
  line-height: 28px;
  padding: 0;
  border-color: #e3e3e3;
  border-radius: 8px;
}
.choose-quantity .select-quantity .input-group-btn:first-child>.btn{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.choose-quantity .select-quantity .input-group-btn:last-child>.btn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.choose-quantity .select-quantity .btn-default:focus,
.choose-quantity .select-quantity .btn-default:hover,
.choose-quantity .select-quantity .form-control:focus{
  outline: none;
  box-shadow: none;
  border-color: #e3e3e3;
  background: none;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  
  font-family: Gotham Rounded;
  font-size: 14px;
  /*    line-height: 1.5;*/
  text-align: left;
  color: #000000;
  font-weight: normal;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 14px;
  height: 14px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #ff4545;
  position: absolute;
  top: 5px;
  left: 2px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.choose-product-type {
  /*margin-top: 20px;*/
}
.choose-quantity{
  margin-bottom: 20px;
}
.wrap-pr-type ul{
  list-style: none;
  padding-left: 10px;
  margin-bottom: 20px;
}
.wrap-pr-type ul li{
  display: inline-block;
  width: 40%;
  padding-bottom: 10px;
}
.sumary{
  padding: 15px;
  border-radius: 16px;
  background-color: #f3f3f6;
}
.sumary .btn-send-gift{
  width: 100%;
  display: block;
  height: 46px;
  border-radius: 12px;
  background-color: #ff5f5f;
  font-family: Gotham Rounded;
  font-size: 16px;
  font-weight: 500;
  line-height: 46px;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
  clear: both;
}
.sumary span{
  font-family: Gotham Rounded;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  text-align: left;
  color: #333333;
  margin-bottom: 15px;
}
.store-info {
  margin-top: 30px;
}
.store-info .panel{
  border-radius: 16px;
}

.store-info .panel .panel-heading{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 30px;
  background: #fff;
}
.store-info .panel .panel-heading h2{
  margin: 0;
  font-family: Gotham Rounded;
  font-size: 32px;
  font-weight: 500;
  text-align: left;
  color: #303030;
  line-height: 1
}
.store-info .panel .maps_data{
  padding: 0;
  height: 500px;
  position: relative;
}
.store-info .panel .maps_data #embed-map{
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 100%;
  height: 100%;
}
.store-info .panel .maps_data #map{
  height: 550px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin: -15px;
}
.m_wrap{
  background: #fff;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
  /*border: solid 1px rgba(183, 210, 229, 0.8);*/
  width: 350px !important;
  margin-left: 25px;
  margin-top: 15px;
}
.m_wrap .gm-style-iw {
  /*max-width: 450px !important;*/
  width: auto !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  
}
.m_wrap .gm-style-iw div{
  width: 100%;
  max-width: initial !important;
}
/*.m_wrap .wrap_marker{
  padding: 10px;
}*/
.m_wrap .wrap_marker .header{
  padding: 10px 20px;
  font-family: Gotham Rounded;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-align: left;
  color: #000000;
  margin:0;
}
.m_wrap .wrap_marker .subtitle{
  padding: 0px 20px;
  font-family: Gotham Rounded;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #666666;
}
.m_wrap .wrap_marker .subtitle h4{
  font-family: Gotham Rounded;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #81839c;
}
.m_wrap .wrap_marker .subtitle h4 i{
  vertical-align: middle;
}
.m_wrap .wrap_marker .subtitle p{
  margin-bottom: 10px;
}
.m_wrap .wrap_marker .subtitle a,.m_wrap .wrap_marker .subtitle a:hover{
  font-family: Gotham Rounded;
  font-size: 14px;
  text-align: left;
  color: #3467ef;
  text-decoration: none;
}
.m_wrap .wrap_marker .subtitle a p{
  margin-bottom: 0;
}
.m_wrap .close_btn{
  right: 10px !important;
  top: 10px !important;
  left: initial !important;
}
.m_wrap::before {
  content: '';
  display: block;
  top: 100%;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(183, 210, 229, 0.8);
}
.m_wrap::after {
  content: '';
  display: block;
  top: 100%;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  margin-top: -2px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
}
.searchMap{
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #e3e3e3;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
}
.searchMap .brand,.searchMap .city,.searchMap .district{
  padding-left: 50px;
  padding-right: 10px;
  border-right: 1px solid #e3e3e3;
  width: 240px;
  float: left;
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;
  min-height: 56px;
}
.searchMap .head_filter_mb{
  display: none;
    padding-left: 35px;
    padding-right: 10px;
    width: 100%;
    float: left;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}
.searchMap .head_filter_mb:before{
  content: "\e905";
  position: absolute;
  left: 5px;
  top: 3px;
  /*transform:translateY(-50%);*/
  font-size: 22px;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #999;
}
.searchMap .head_filter_mb:after{
  position: absolute;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  color: #999;
  border-top: 6px dashed;
  /*margin-top: 0;*/
  position: absolute;
  height: 10px;
  top: 12px;
  right: 10px;
  content: '';
  display: inline-block;
}
.searchMap .brand p,.searchMap .city p,.searchMap .district p{
  margin-bottom: 0;
  font-family: Gotham Rounded;
  font-size: 12px;
  text-align: left;
  color: #999999;
}
.searchMap .brand:before,
.searchMap .city:before,
.searchMap .district:before{
  content: "\e905";
  position: absolute;
  left: 15px;
  top: 50%;
  transform:translateY(-50%);
  font-size: 22px;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #999;
}
.searchMapBtn{
  display: inline-block;
  float: left;
  width: 90px;
  text-align: center;
}
.searchMapBtn a{
  line-height: 50px;
}
.btn-group.bootstrap-select{
  width: 100% !important;
  box-shadow: none !important;
}
.btn-group.bootstrap-select button
{
  border: 0;
  padding-top: 3px;
  padding-bottom: 0;
}
.btn-group.bootstrap-select .btn-default,
.btn-group.bootstrap-select .btn-default:hover,
.btn-group.bootstrap-select .btn-default:focus,
.btn-group.bootstrap-select .btn-default.active.focus, 
.btn-group.bootstrap-select .btn-default.active:focus, 
.btn-group.bootstrap-select .btn-default.active:hover, 
.btn-group.bootstrap-select .btn-default:active.focus, 
.btn-group.bootstrap-select .btn-default:active:focus, 
.btn-group.bootstrap-select .btn-default:active:hover, 
.btn-group.bootstrap-select.open>.dropdown-toggle.btn-default.focus, 
.btn-group.bootstrap-select.open>.dropdown-toggle.btn-default:focus, 
.btn-group.bootstrap-select.open>.dropdown-toggle.btn-default:hover{
  background: none !important;
  box-shadow: none !important;
  outline: none !important; 
  padding-left: 0;
}
.btn-group.bootstrap-select .btn-default .caret{
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  color:#999;
  border-top: 6px dashed;
  margin-top: -5px;
} 
.bootstrap-select.btn-group .dropdown-menu li a{
  outline: none;
}
.bootstrap-select.btn-group.dropup .caret{
  border-bottom: 6px dashed;
  border-top:0;
}
.bootstrap-select.btn-group .dropdown-menu{
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #e3e3e3;
}
.bs-searchbox .form-control{
  text-align: left;
}
.bootstrap-select.btn-group .dropdown-menu::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 4px;
}


.bootstrap-select.btn-group .dropdown-menu::-webkit-scrollbar
{
  width: 5px;
  border-radius: 4px;
  background-color: #F5F5F5;
}

.bootstrap-select.btn-group .dropdown-menu::-webkit-scrollbar-thumb
{
  border-radius: 4px;
  background-color: #ff5f5f;
}
.brand-info{
  border-radius: 16px;
  background-color: #ffffff;
  border: solid 1px #e3e3e3;
  overflow: hidden;
  padding: 30px 5px 10px 15px;
}
.brand-info .tabbable-line  .nav-tabs > li{
  margin-right: 0;
}
.brand-info .tabbable-line  .nav-tabs > li a{
  padding: 0 10px 15px 10px;
}
.brand-info .box-content .list_brand a.brand_img {
  margin-right: 40px;
}
.brand-info .box-content .list_brand a.brand_img:last-of-type{
  margin-right: 0;
}
.right .box-content h3{
  padding-right: 30px;
}
.right .box-content p{
  font-family: Gotham Rounded;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #636363;
}
.right .brand-detail,
.right .how-it-work,
.right .term_service{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
.right .box-content .brand-detail img{
  float: left;
  margin-right: 10px;
}
.right .box-content .brand-detail p.address,
.right .box-content .brand-detail p.phone{
  padding-left: 25px;
  position: relative;
}
.right .box-content .brand-detail p.address:before,
.right .box-content .brand-detail p.phone:before{
  content: "\e911";
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  font-family: 'icomoon' !important;
  color: #999999;
  font-size: 18px;
  margin-top: -3px;
}
.right .box-content .brand-detail p.address:before{
  content: "\e90b";
}
.right .box-content ul{
  /*padding-left: 20px;*/
  list-style: none;
}
.right .box-content ul li{
  padding-left: 20px;
  position: relative;
  font-family: Gotham Rounded;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: #666666;
  padding-bottom: 5px;
}
.right .box-content ul li:before{
  content: '';
  width: 5px;
  height: 5px;
  background: #999;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  display: inline-block;
  left: 0;
}
.parent {
    display: flex;
    flex-wrap: wrap;
}

.child {
    flex-grow: 1;
    /*flex-basis: 50%; // 50% for two in a row, 33% three in a row etc.*/
}
.right .box-content{
  padding-bottom: 20px;
}
.right .box-content h3{
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;
}
.right .box-content h3:before{
  content: "\e902";
  color: #303030;
  font-family: 'icomoon' !important;
  display: inline-block;
  position: absolute;
  right: 0px;
  font-size: 22px;
/*  top: -5px;*/
}
.right .box-content h3.collapsed:before{
  content: "\e904";
  font-family: 'icomoon' !important;
  display: inline-block;
  position: absolute;
  right: 0px;
  font-size: 22px;
  /*top: -5px;*/
  color: #ff5f5f;
}
.product-section .parent{
  position: relative;
}
.product-section .right-fixed-wrap{
  content: '';
  position: absolute;
  background: #fff;
  display: inline-block;
  border-bottom: 0;
  height: 100%;
  top: 0px;
  left: 100%;
  width: 100px;
  border-bottom: 4px solid #e3e3e3;
  /*border-top: 1px solid #e3e3e3;*/
  clear: none;
}
.store-info .find_nearest_store{
  display: none;
  font-family: Gotham Rounded;
  font-size: 16px;
  text-align: center;
  color: #ff5f5f;
}
.breadcrumb{
    font-family: Gotham Rounded;
    font-size: 16px;
    text-align: left;
    color: #636363;
    display: inline-block;
    padding-right: 35px;
    line-height: 40px;
    padding-left: 20px;
    position: relative;
    padding: 0;
    background: none;
}
.breadcrumb p{
    font-family: Gotham Rounded;
    font-size: 16px;
    text-align: left;
    color: #636363;
    display: inline-block;
    padding-right: 35px;
    line-height: 40px;
    padding-left: 20px;
    position: relative;
}
.breadcrumb p:after {
    position: absolute;
    content: '\e907';
    font-family: icomoon!important;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.breadcrumb p:first-child{
  padding-left: 0;
}
.breadcrumb p:last-child:after{
  display: none;
  padding-right: 0;
}
.breadcrumb span{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  border: 2px solid #e3e3e3;
  vertical-align: middle;
  margin-right: 10px;
  color: #7d7d7d;
}
.breadcrumb span:before {
    font-family: icomoon!important;
    position: absolute;
    content: '\e906';
    
    display: inline-block;
    font-size: 22px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.breadcrumb  p.step-2 span:before {
    content: '\e90d';
}
.breadcrumb  p.step-3 span:before {
    content: '\e900';
}
.breadcrumb  p.active{
  font-weight: 500;
  color: #303030;
}
.breadcrumb  p.active span {
    color: #fff;
    background: #ff5f5f;
    border-color: #ff5f5f;
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  
}

/*sstyle select*/
@media (max-width: 480px) {
.breadcrumb p{
  padding: 0;
  line-height: 25px;
  font-size: 14px;
}
.breadcrumb p:after{
  right: initial;
  left: 11px;
  transform: none;
  content: '';
  width: 3px;
  height: 100%;
  background: #e3e3e3;
  top: 100%;
}

.breadcrumb span{
  width: 25px;
  height: 25px;
  background:#fff;
}
.breadcrumb span:before{
  font-size: 16px;
}
  .product-section{
    background: #f3f3f3;
  }
  .parent{
    display: block;
  }
  .product-section .left{
    padding-top: 4px;
    padding-bottom: 15px;
  }
  .product-info{
    border: 0;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 0;
  }
  .product-info .product_name{
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .product-info .product_name h3{
    width: 100%;
    font-size: 20px;
  }
  .product-info .product_name p{
    font-size: 14px;
    width: 100%;
    padding-left: 0;
    position: relative;
    top: inherit;
    transform: inherit;
    left: inherit;
    margin-top: 0;
  }
  .product-info .show-img{
    width: 100%;
    margin-bottom: 15px;
  }
.product-info .show-img .main-img
{
  max-width: none;
}
  .product-info .product-detail{
    width: 100%;
    padding-left: 0;
  }
  .product-info .product-detail h2{
    font-family: Gotham Rounded;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #303030;
  }
  .list-thumb span{
    width: 65px;
    height: 65px;
    margin-right: 15px;
  }
  .wrap-pr-type ul{
    padding-left: 0;
  }
  .wrap-pr-type ul:after{
    content: '';
    clear: both;
    display: block;
  }
  .wrap-pr-type ul li{
    width: 50%;
    float: left;
  }
  .sumary span{
    /*width: 100%;*/
    text-align: center;
    margin-bottom: 5px;
  }
  .sumary span:last-of-type{
    margin-bottom: 15px;
  }

  .store-info{
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 10px;
  }
  .store-info .find_nearest_store{
    display: block;
  }
  .store-info .panel{
    border:0;
    border-radius: 0;
    margin-bottom: 10px;
  }
  .store-info .panel .panel-heading {
    padding: 30px 0 20px;
    border-bottom: 0;
  }
  .store-info .panel .panel-heading h2{
    font-family: Gotham Rounded;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #303030;
    margin-bottom: 20px;
  }
  .searchMap .head_filter_mb{
    display: block;
  }

  .searchMap.clicked .brand, .searchMap.clicked .city, .searchMap.clicked .district{
      clear: both;
      display: block;
      border: 1px solid #e3e3e3;
      border-radius: 12px;
      margin-bottom: 10px;
      width: 100%;
      padding-left: 10px;
      margin-top: 10px;
  }

  .searchMap {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e3e3e3;
    position: absolute;
    top: 15px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    height: 54px;
    
  }
  .searchMap.clicked{
    height: auto;
    border-radius: 0;
  }
  .searchMap.clicked .head_filter_mb{
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 18px;
    padding-left: 45px;
    padding-right: 10px;
    float: none;
    width: auto;
    margin-left: -10px; 
    margin-right: -10px;

  }
  .searchMap.clicked .head_filter_mb:before{
    left: 15px;
  }
  .searchMap.clicked .head_filter_mb:after{
    right: 20px;
    border-bottom: 6px dashed;
    border-top: 0;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    top: 6px;
  }
  .searchMap.clicked .searchMapBtn {
    display: inline-block;
    float: left;
    width: 90px;
    text-align: center;
    display: block;
    clear: both;
    position: absolute;
    bottom: 10px;
    background: #ff5f5f;
    left: 10px;
    right: 10px;
    width: auto;
    border-radius: 12px;
    font-family: Gotham Rounded;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
  }
  .searchMap .brand:before, .searchMap .city:before, .searchMap .district:before{
    display: none;
  }
  .searchMap .searchMapBtn, .searchMap .brand, .searchMap .city, .searchMap .district{
    display: none;
  }
  .brand-info{
    margin-right: -10px;
    margin-left: -10px;
    border:0;
    border-radius: 0;
    padding: 25px 0 10px;
  }
  .brand-info .box-content{
    margin-right: -10px;
    margin-left: -10px;
  }
  .brand-info .box-content .list_brand a.brand_img{
    margin-right: 10px;
  }
  .product-section .right{
    display: none;
  }
}
@media (max-width: 320px){
  .list-thumb span{
    margin-right: 5px;
  }
  .breadcrumb p{
    padding: 0;
    line-height: 25px;
    font-size: 13px;
  }
}