.accordion-section {
	/*padding: 0px 0 30px 0;*/
}

.faq_page .box_top{
	background-color: white;
	padding:  20px 0 4px !important;

}
.faq_page .box_top h2 {
	padding-top: 20px ;
	text-align: center;
	padding-bottom: 10px;	
}

.faq_page .box_top .wrapper-dropdown  ul {

	text-align: center;
	border-bottom: none;
	font-size: 0;


}
.head{
	background: #fff;

}
.faq_page .box_top .wrapper-dropdown  ul li{



	float: none;
	display: inline-block;


}
.tabbable-line  .nav-tabs > li{
	border-bottom: 4px solid #e3e3e3;
	margin-right: 0;
}

.tabbable-line .nav-tabs > li.active, .tabbable-line .nav-tabs > li.active:hover {
    border-bottom: 4px solid #ff5f5f;
    position: relative;
}

/*/content*/

.box_content{
	padding-top: 15px;
	padding-bottom: -20px;
}


/*//mobi*/
@media (max-width: 480px){

	.faq_page{
		padding: 4px 0 20px 0;
	}

	.faq_page .row.head {

	    background-color:  #f3f3f6;
	}

	.faq_page .box_top {

	    background-color:  #f3f3f6;
	}

	.faq_page .wrap_faq{
		margin-left: -10px;
		margin-right: -10px;
	}

	.faq_page .box_content {

		padding-top: 0;
	}

	

	
}